#Ignore files that will need to be changed locally
.DS_Store
robots.txt
/nbproject/
/.sass-cache/
/node_modules/
/build/
/releases/
/vendor/
/mod/
composer.lock
Gemfile.lock
coverage.clovertests/.phpunit.result.cache
docker/.env
tests/vitest/node_modules/
tests/deps.local.txt
