:root {
	--inbox-primary-color: #4690d6;
	--inbox-secondary-color: #e9e9e9;
	--inbox-border-color: #dddddd;
	--inbox-alert-color: #67080a;
	--inbox-success-color: #396516;
	--inbox-warning-color: #f08a24;
	--inbox-info-color: #a0d3e8;
	--inbox-light-bg-color: #f4f4f4;
	--inbox-lighter-bg-color: #fafafa;
	--inbox-light-border-color: #dddddd;
	--inbox-lighter-border-color: #eeeeee;
	--inbox-global-radius: 3px;
	--inbox-indicator-size: 8px;
	--inbox-unread-bg-color: #ecf0f7;
}

/* Style the popup module */
#inbox-popup {
	padding: 0;
	background: white;
	width: 400px;
	max-width: 100%;
	position: absolute;
}

#inbox-popup .elgg-no-results,
#inbox-popup .elgg-ajax-loader {
	margin: 0;
	padding: 8px;
}

#inbox-popup .elgg-list-inbox {
	max-height: 300px;
	overflow-y: auto;
	margin: 0;
}

#inbox-popup .elgg-foot {
	border-top: 1px solid var(--inbox-border-color);
}

#inbox-popup .elgg-foot a {
	text-align: center;
	font-size: 12px;
	min-width: 30px;
	padding: 4px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.elgg-list-inbox > li {
	padding: 0;
	margin: 0;
}

.elgg-list-inbox > li:last-of-type {
	border-bottom-width: 0;
}

.elgg-list-inbox > li .inbox-message {
	padding: 8px;
	transition: background-color 0.5s ease;
}

.elgg-menu-item-inbox > a {
	position: relative;
}

.elgg-menu-item-inbox > a .elgg-icon {
	font-size: 20px;
}

.inbox-message {
	box-sizing: border-box;
	z-index: 1;
	padding: 10px;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.inbox-message > * {
	flex: 1 0 auto;
	padding: 0 5px;
}

.inbox-message .inbox-message-checkbox {
	flex: 0 0 20px;
	padding-top: 10px;
}

.inbox-message .inbox-message-icon {
	flex: 0 0 40px;
	text-align: center;
}

.inbox-message .inbox-message-content {
	flex: 1 1 auto;
	overflow: hidden;
}

.inbox-message .inbox-message-subject {
	margin-right: 10px;
}

.inbox-message .inbox-message-body,
.inbox-message .inbox-message-body-excerpt {
	margin: 5px auto;
}

.inbox-message[data-href] {
	cursor: pointer;
}

.inbox-message.inbox-message-unread {
	background-color: var(--inbox-unread-bg-color);
}

.inbox-message.inbox-message-unread .elgg-menu-item-markunread {
	display: none;
}

.inbox-message.inbox-message-read {
	background-color: #ffffff;
}

.inbox-message.inbox-message-read .elgg-menu-item-unread,
.inbox-message.inbox-message-read .elgg-menu-item-markread {
	display: none;
}

.inbox-messages-control-group {
	padding: 0 10px;
}

.elgg-menu-inbox,
.elgg-menu-inbox-thread {
	display: flex;
	align-items: center;
}

.elgg-menu-inbox > li,
.elgg-menu-inbox-thread > li {
	padding: 0 5px;
}

.elgg-menu-inbox > li.elgg-menu-item-toggle,
.elgg-menu-inbox-thread > li.elgg-menu-item-toggle {
	line-height: 34px;
}

.elgg-menu-topbar .inbox-unread-count {
	color: white;
	background-color: red;
	position: absolute;
	text-align: center;
	top: 2px;
	left: auto;
	right: -8px;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 10px;
}

.elgg-menu-filter .inbox-unread-count {
	padding: 2px 4px;
	background: #999;
	margin-left: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
	border-radius: 3px;
}

.inbox-messages .elgg-pagination {
	display: none;
}

.inbox-message-block {
	border: 1px solid var(--inbox-border-color);
	border-radius: var(--inbox-global-radius);
}

.inbox-message-block .elgg-pagination-infinite {
	margin: 0 auto;
	padding: 10px;
	border-bottom: 1px solid var(--inbox-light-border-color);
}

.inbox-message-block .elgg-pagination-infinite .elgg-before,
.inbox-message-block .elgg-pagination-infinite .elgg-after {
	border: none;
	padding: 0;
}

.inbox-message-block .elgg-pagination-infinite .elgg-before:after,
.inbox-message-block .elgg-pagination-infinite .elgg-before:before,
.inbox-message-block .elgg-pagination-infinite .elgg-after:after,
.inbox-message-block .elgg-pagination-infinite .elgg-after:before {
	content: none;
}

.inbox-thread-participants {
	padding: 10px;
	border-bottom: 1px solid var(--inbox-border-color);
	background-color: var(--inbox-lighter-bg-color);
	border-radius: var(--inbox-global-radius) var(--inbox-global-radius) 0 0;
}
